body{
	font-family: 'Abel', sans-serif;
}
div.caroucel-text{
    background: #ffffff7a 000;
	color: #000;
}
button.btn-ingreso{
	color: #17a2b8;
}
.btn-ingreso-registro button{ 
	font-family: 'Anton';
}

/* Formulario registro */

h2.titulo{
	font-family: 'Anton';
}